# This file tells git what files to ignore.

# Backup files.
*~

# Figures from tests.
planegeometry/*/tests/*.pdf

# Some Python files.
*.py[cod]

# Auxiliary LaTeX files.
*.dvi
*.log
*.aux
*.toc
*.lof
*.lot
*.ps
# Beamer
*.nav
*.out
*.snm
*.vrb
# listings
*.lol

# Packages
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# PyCharm
.idea

# EOF
